<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baosight.brightfish">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="我的仓库" />
        <activity
            android:name=".CheckinActivity"
            android:label="新入库" />
        <activity
            android:name=".CheckoutActivity"
            android:label="新出库" />
        <activity
            android:name=".NewSupplierActivity"
            android:label="新供应商" />
        <activity
            android:name=".NewBuyerActivity"
            android:label="新买家" />
        <activity
            android:name=".AccountActivity"
            android:label="我的账号" />
        <activity
            android:name=".SettingActivity"
            android:label="设置" />
        <activity
            android:name=".NewGoodsActivity"
            android:label="新货品" />
        <activity
            android:name=".AnalyzeActivity"
            android:label="数据分析" />
        <activity
            android:name=".ChecklistActivity"
            android:label="现有库存数量" />
        <activity
            android:name=".ChooseGoodsNoteActivity"
            android:label="选取货物" />
        <activity
            android:name=".ChooseSupplierActivity"
            android:label="选择供应商" />
        <activity
            android:name=".ChooseBuyerNoteActivity"
            android:label="选择买家" />
        <activity
            android:name=".CheckinAblumActivity"
            android:label="入库相册" />
        <activity
            android:name=".SupplierAblumActivity"
            android:label="供应商相册" />
        <activity
            android:name=".BuyerAblumActivity"
            android:label="买家相册" />
        <activity
            android:name=".GoodsAblumActivity"
            android:label="货品相册" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.baosight.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SearchActivity"
            android:label="查找" />
        <activity
            android:name=".ChooseCheckinActivity"
            android:label="选择入库记录" />
        <activity
            android:name=".ChooseCheckoutActivity"
            android:label="选择出库记录" />
        <activity
            android:name=".ChooseChecklistActivity"
            android:label="选择盘货记录" />
        <activity
            android:name=".SearchCheckinActivity"
            android:label="查找入库" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchCheckoutActivity"
            android:label="查找出库" />
        <activity
            android:name=".SearchGoodsActivity"
            android:label="查找货物" />
        <activity
            android:name=".ModifyAccountActivity"
            android:label="修改我的账号" />
        <activity
            android:name=".GoodsActivity"
            android:label="货品" />
        <activity
            android:name=".ModifyGoodsActivity"
            android:label="修改货物" />
        <activity
            android:name=".SupplierActivity"
            android:label="供应商" />
        <activity
            android:name=".ModifySupplierActivity"
            android:label="修改供应商" />
        <activity
            android:name=".BuyerActivity"
            android:label="买家" />
        <activity
            android:name=".ModifyBuyerActivity"
            android:label="修改买家" />
        <activity
            android:name=".ChecklistNoteHistoryActivity"
            android:label="盘货历史记录" />
        <activity
            android:name=".ChecklistNoteActivity"
            android:label="盘货记录" />
        <activity
            android:name=".CheckinNoteActivity"
            android:label="入库记录" />
        <activity
            android:name=".CheckoutNoteActivity"
            android:label="出库记录" />
        <activity
            android:name=".ChooseGoodsActivity"
            android:label="选择货品" />
        <activity
            android:name=".ChooseBuyerActivity"
            android:label="选择买家" />
        <activity
            android:name=".ChooseSupplierNoteActivity"
            android:label="选择供应商" />
        <activity
            android:name=".AnalyzeAllActivity"
            android:label="综合分析" />
        <activity
            android:name=".RecentCheckinActivity"
            android:label="最近入库" />
        <activity
            android:name=".RecentCheckoutActivity"
            android:label="最近出库" />
        <activity android:name=".SearchResultActivity" android:label="查找结果"/>
    </application>

</manifest>